<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WineHouse</title>
</head>
<body>
    <h1>Welcome to Winehouse website.</h1>
    <table id="tbRecipe">
    <thead>
    <tr>
        <th>Id</th>
        <th>Recipe</th>
        <th>Price</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
        <for(recipe in data.recipes)>
            <tbody>
                <tr id="recipe_${recipe.id}">
                <td>${recipe.id}</td>
                <td>${recipe.name}</td>
                <td>${recipe.price}</td>
                <td><a href="#" data-href="${recipe.id}">Edit</a></td>
                <td><a href="#" data-href="${recipe.id}" data-type="remove">Delete</a></td>
                </tr>
            </tbody>
        </for>
    </table>

    <script src="/static/js/remove-recipe.js"></script>
</body>
</html>