<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Form Recipe</title>
	<form action="/recipes" method="post">
		<input type="hidden" id="id" name="id" />
		<input type="text" id="name" name="name" placeholder="Name" />
		<input type="number" id="price" name="price" placeholder="Price" />
		<input type="text" id="description" name="description" placeholder="Description" />
		<button type="submit">Save</button>
	</form>
</head>
<body>
	
</body>
</html>